<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hartonostudio.donasiappsmadania">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Donasi.KonfirmasiDonasiActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".Admin.LoginAdmin" />
        <activity android:name=".Donasi.WakafActivity" />
        <activity android:name=".Donasi.ZakatActivity" />
        <activity android:name=".Donasi.ShodaqohActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegLogin.LupasPasswordActivity" />
        <activity android:name=".RegLogin.RegisterActivity" />
        <activity android:name=".RegLogin.LoginActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>