<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hartonostudio.donasiappsmadania">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".Menu.BarActivity">

        </activity>
        <activity android:name=".WelcomeActivity" />

        <activity android:name=".midtrans.Midtrans" />
        <activity android:name=".Menu.DonasiBerhasilActivity" />

        <activity
            android:name=".Menu.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".RegLogin.LoginActivity" />
        <activity android:name=".Menu.WakafActivity" />
        <activity android:name=".Menu.ShodaqohActivity" />
        <activity android:name=".RegLogin.RegisterActivity" />
        <activity android:name=".RegLogin.EmailLoginActivity" />
        <activity android:name=".RegLogin.PhoneLoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>